#manage_groups {
  margin-top: 20px;
}

#add_new_group {
  
}

.group-name {
  font-size: 15px;
}

.group_in_enumeration > div {
  margin: 0 0 0 0;
}

.group_in_enumeration {
  margin: 0 0 10px 0;
}

.fas {
  margin-right: 10px;
}

.rotatable {
  transition: transform 0.5s;
}

.rotate-90-deg-right {
  transform: rotate(90deg);
}

#group_enumeration_toggle_button {
  font-size: 15px;
}